body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.app {
  overflow: hidden;
}

.navigation {
  position: fixed;
  top: 40px;
  left: 100px;
  z-index: 9999;
}

a {
  display: block;
}

a:hover h1, a:focus h1 {
  margin-left: 20px;
}

h1 {
  font-size: 3.6vw;
  line-height: 0.65em;
  transition: all .1s ease-out;
}

svg {
  z-index: 9999;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 85vh;
  max-width: 100vw;
}
